.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#header-nav
{
  background-color: #AAA;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  box-sizing: border-box;
  margin:0px;
 padding: 10px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: white;
  }



.col-xs-12 {
  background-color: #AAA;
  margin: 10px;
  padding: 10px;
 }
 section {
  margin: 15px;
 }
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid ;
}
.navbar-header button.navbar-toggle {
  clear:left;
  
}